//colors
$color-text-base     : #4D4949;
$color-mejs__controls:#800000 !important;

//font stacks
$font-url-google : "https://fonts.googleapis.com/css?family=Noto+Sans";
$stack-sans-serif: 'Noto Sans', sans-serif;

//breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1100px;
