* {
  box-sizing: border-box;
}

p {
  padding: 10px 25px;
  margin-top: 1.5em;
  line-height: 1.7;
  font-family: $stack-sans-serif;
  color: $color-text-base;

}

body {
  @include mq(medium){
    margin: 0 auto;
    display: block;
    width: 80%;
    padding-top: 1.5em;
  }
}

body {
  @include mq(medium){
      margin: 0 auto;
      display: block;
      max-width: 1100px;
  }
}
